@model List<PersonViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    th,td {
        border: 1px solid #dddddd;
        padding:8px;
    }
    table {
        font-family: arial, sans-serif;
        width: 33%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }
    tr:nth-child(2n) {
        background-color: #dddddd;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div>
        <a asp-action="CreatePerson" style="margin-left: 34%;">Yeni Kişi</a>
        <a asp-action="Index" asp-route-order="name" class="btn btn-success">Ad</a>
        <a asp-action="Index" asp-route-order="surname" class="btn btn-success">Soyad</a>
    </div>
    <div>
        <form asp-action="Index" method="get">
            <input type="text" class="form-control" id="searchBox" name="searchBox" value="" placeholder="aranacak kelime" />
            <input type="submit" value="Ara" />
        </form>
    </div>

    <table>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Telefon</th>
            <th></th>
        </tr>
        @{
            foreach (PersonViewModel kisi in Model)
            {
                <tr>
                    <td>@kisi.Id</td>
                    <td>@kisi.Name</td>
                    <td>@kisi.Surname</td>
                    <td>@kisi.Phone</td>
                    <td>
                        <a onclick="return eminMisiniz(@kisi.Id)" asp-route-id="@kisi.Id" asp-action="Delete">Sil</a>
                        <a asp-route-id="@kisi.Id" asp-action="CreatePerson">Düzenle</a>
                    </td>
                </tr>
            }
        }



    </table>
</div>

<script>
    function eminMisiniz(id) {
      //  alert(id + " id li Kayıt silinecek emin misiniz?");
        var dialogResult = confirm(id + " id li Kayıt silinecek emin misiniz?");
        console.log(dialogResult);
        return dialogResult;
    }
</script>
